@font-face {
    font-family: 'Kreathief001';
    src: url('../fonts/Kreathief001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief002';
    src: url('../fonts/Kreathief002.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief003';
    src: url('../fonts/Kreathief003.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief004';
    src: url('../fonts/Kreathief004.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief005';
    src: url('../fonts/Kreathief005.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief006';
    src: url('../fonts/Kreathief006.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief007';
    src: url('../fonts/Kreathief007.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief009';
    src: url('../fonts/Kreathief009.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kreathief010';
    src: url('../fonts/Kreathief010.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
